h2 {color:#4CE0D2} 

font-family: "Monospace";

div.a {
    font-size: 40px;
}

div.b {
    font-size: large;
}

div.c {
    font-size: 200%;
}

h1 {
    text-shadow: 2px 2px #00A896;
}

body {
    background-color: #4CE0D2;
}
